@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LibraryWebApp.Models.Login
@{
    ViewData["title"] = "Login";
}

<nav class="navbar navbar-expand-sm bg-dark top-bar fixed-top">
    <div class="d-sm-inline-flex">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://localhost:44315/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://localhost:44315/Home/Catalogue">Catalogue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://localhost:44315/Home/Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ContactUs</a>
            </li>
        </ul>
    </div>
</nav>


<!--@Html.BeginForm("Login","home",FormMethod.Post) -->
<form action="/Home/Login" method="post">
    <div class="form-group">
        <label for "name">Username</label>
    @Html.TextBoxFor(m=>m.username,new{@class="form-control",@placeholder="Enter Username"})
    @Html.ValidationMessageFor(m=>m.username,"",new{@class="alert-danger"})
    </div>
     <div class="form-group">
        <label for "password">Password</label>
    @Html.TextBoxFor(m=>m.password,new{@class="form-control",@placeholder="Enter Password"})
    @Html.ValidationMessageFor(m=>m.password,"",new{@class="alert-danger"})
    </div>
    <div>
    <input type="submit" value="Login"  class="btn btn-primary" /><span>
    
    <input type=button onclick="window.location.href='https://localhost:44315/home/Register';" class="btn btn-primary" value="Register"/>
    </span>
</div>
</form>


    
    
       
    

